/* shared css style */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.primary-btn {
  padding: 13px 34px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.featured-description {
  display: grid;

  place-items: center;
}

/* banner styles */
.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
}

.banner-title {
  color: #272727;
  font-family: Lato;
  font-size: 67px;
  max-width: 708px;
  font-weight: 800;
  margin: 0px;
}
.banner-img img {
  display: block;
  width: 481px;
  height: 482px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/*  featured section styles */

.featured-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  gap: 9px;
}
.featured-heading {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  margin-bottom: 2px;
  font-weight: 800;
  line-height: normal;
}

.featured-description p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.gallery > img {
  height: 253px;
  width: 269px;
  padding-top: 110px;
}
.gallery {
  display: flex;
  justify-content: center;
  width: 397px;
  height: 365px;
  flex-shrink: 0;

  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.gallery-2 {
  background: rgba(5, 151, 160, 0.15);
}
.gallery-3 {
  background: rgba(71, 125, 17, 0.15);
}

/* hot deal section styles */

.hot-deal-container {
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.hot-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hot-deal-description p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}



         /*  INSTAGRAM gallery section */

         